/* /Pages/Admin/Admin.razor.rz.scp.css */

/* /Pages/CategoriesItem.razor.rz.scp.css */
@font-face {
    font-family: 'TanhaWeb';
    src: url("../fonts/Tanha/Tanha-FD.ttf") format('truerype');
    src: url("../fonts/Tanha/Tanha-FD.woff") format('woff');
    src: url("../fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
    font-family: 'yekanWeb';
    src: url("../fonts/Yekan/Yekan.ttf") format('truerype');
    src: url("../fonts/Yekan/Yekan.woff") format('woff');
}

body[b-p7bp40ch2a] {
    font-family: 'TanhaWeb';
    font-size: medium;
}

.dropdown-menu[b-p7bp40ch2a] {
    right: -150px !important;
}

.dropdown-item[b-p7bp40ch2a] {
    width: 220px;
    height: 55px;
}

    .dropdown-item:active[b-p7bp40ch2a] {
        color: black;
        background-color: #e9ecef;
    }

.my-nav-style[b-p7bp40ch2a] {
    box-sizing: border-box !important;
    box-shadow: 5px 7px 7px rgba(187, 187, 187, 0.651);
    position: fixed;
    z-index: 10;
    height: 70px;
    width: 100%;
    top: 0 !important;
}

#mainBlock[b-p7bp40ch2a] {
    margin-top: 90px;
}

.btn:focus[b-p7bp40ch2a],
.btn:active[b-p7bp40ch2a] {
    box-shadow: none !important;
    border: none !important;
}

.myhr[b-p7bp40ch2a] {
    margin-top: .8rem;
    margin-bottom: .8rem;
    border-top: 1px solid rgba(0, 0, 0, .3) !important;
}

.card-body[b-p7bp40ch2a] {
    height: 300px;
    overflow-y: scroll;
}

.product-img[b-p7bp40ch2a] {
    width: 100%;
    height: 240px;
}

.product-box[b-p7bp40ch2a] {
    height: 380px !important;
}

.font-size-product-title[b-p7bp40ch2a] {
    font-size: medium;
    line-height: 1.6rem;
}

.font-size-price-title[b-p7bp40ch2a] {
    font-size: large;
    font-weight: bold;
}

.p-imgs[b-p7bp40ch2a] {
    position: relative;
    height: 100%;
}
/* /Pages/Login.razor.rz.scp.css */
@font-face {
    font-family: 'TanhaWeb';
    src: url("../fonts/Tanha/Tanha-FD.ttf") format('truerype');
    src: url("../fonts/Tanha/Tanha-FD.woff") format('woff');
    src: url("../fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
    font-family: 'yekanWeb';
    src: url("../fonts/Yekan/Yekan.ttf") format('truerype');
    src: url("../fonts/Yekan/Yekan.woff") format('woff');
}

body[b-cuq7xw58nc] {
    font-family: 'TanhaWeb';
    font-size: medium;
}

*[b-cuq7xw58nc] {
    margin: 0;
    padding: 0;
}

.main-box[b-cuq7xw58nc] {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(Images/Static-Image/accountingBackground.jpg);
    background-position: center;
    background-size: cover;
}

.form-box[b-cuq7xw58nc] {
    width: 380px;
    height: 550px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
    margin: 8% auto;
    padding: 0.3rem;
}

.btn-box[b-cuq7xw58nc] {
    width: 220px;
    margin: 2.2rem auto;
    position: relative;
    border-radius: 1.8rem;
    font-size: 1rem;
    box-shadow: 5px 7px 7px rgba(187, 187, 187, 0.651);
}

.toggle-btn[b-cuq7xw58nc] {
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#btn-active[b-cuq7xw58nc] {
    left: 0;
    width: 110px;
    border-radius: 1.8rem;
    transition: .6s;
}

.social-icons[b-cuq7xw58nc] {
    width: 150px;
}

#instagram:hover[b-cuq7xw58nc] {
    color: red;
}

#telegram:hover[b-cuq7xw58nc] {
    color: rgb(0, 89, 255);
}

#facebook:hover[b-cuq7xw58nc] {
    color: blue
}

#linkedin:hover[b-cuq7xw58nc] {
    color: rgb(0, 180, 180);
}

.input-group[b-cuq7xw58nc] {
    width: 250px;
}

.input-field[b-cuq7xw58nc] {
    border-bottom: 2px solid black !important;
}

    .input-field:focus[b-cuq7xw58nc] {
        outline: 0 !important;
        box-shadow: none !important;
    }

#login[b-cuq7xw58nc] {
    display: block;
}

#register[b-cuq7xw58nc] {
    display: none;
}
/* /Pages/ProductDetail.razor.rz.scp.css */
@font-face {
    font-family: 'TanhaWeb';
    src: url("../fonts/Tanha/Tanha-FD.ttf") format('truerype');
    src: url("../fonts/Tanha/Tanha-FD.woff") format('woff');
    src: url("../fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
    font-family: 'yekanWeb';
    src: url("../fonts/Yekan/Yekan.ttf") format('truerype');
    src: url("../fonts/Yekan/Yekan.woff") format('woff');
}

body[b-gr087cyep9] {
    font-family: 'TanhaWeb';
    font-size: medium;
}

*[b-gr087cyep9] {
    scroll-behavior: smooth;
}

.product-interface[b-gr087cyep9] {
    margin-top: 100px !important;
}

.product-img[b-gr087cyep9] {
    height: 450px;
    margin: auto;
}

.product-another-imgs[b-gr087cyep9] {
    margin: auto;
}

.product-imgs[b-gr087cyep9] {
    height: 110px;
}

    .product-imgs div[b-gr087cyep9] {
        cursor: pointer;
    }

.font-size-small[b-gr087cyep9] {
    font-size: small;
}

.line[b-gr087cyep9] {
    height: 2px;
}

.detail-preview[b-gr087cyep9] {
    line-height: 1.6rem;
    text-align: justify;
}

.add-cart[b-gr087cyep9] {
    height: 430px;
}

.add-cart-box[b-gr087cyep9] {
    width: 300px;
    background: linear-gradient(0deg, hsla(240, 3%, 94%, .5), hsla(240, 3%, 94%, .5)), #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
}

.price[b-gr087cyep9] {
    text-align: end;
}

.product-detail-text[b-gr087cyep9] {
    line-height: 1.8rem;
}

.product-detail[b-gr087cyep9] {
    box-shadow: 1px 0px 5px rgba(187, 187, 187, 0.651);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 30px;
}

.myhr[b-gr087cyep9] {
    margin-top: .8rem;
    margin-bottom: .8rem;
    border-top: 1px solid rgba(0, 0, 0, .3) !important;
}

.myCommenthr[b-gr087cyep9] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0) !important;
}

#show-more-technical[b-gr087cyep9] {
    transition-duration: .4s;
}

#show-more-technical-btn[b-gr087cyep9] {
    width: 150px;
}

    #show-more-technical-btn:focus[b-gr087cyep9],
    #show-more-comments-btn:focus[b-gr087cyep9] {
        box-shadow: none !important;
        border: none !important;
    }

.comment-inputs:focus[b-gr087cyep9] {
    box-shadow: 0 0 1px 0.1rem #17a2b8;
}

.comment-box[b-gr087cyep9] {
    box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.651);
    border: 1px solid rgb(219, 219, 219);
    padding: .7rem;
}

#show-more-comments-btn[b-gr087cyep9] {
    width: 170px;
}

.likeProductImgs[b-gr087cyep9] {
    margin: auto;
    width: 100%;
    height: 220px;
}
/* /Pages/UserPanel.razor.rz.scp.css */
#wishListPanel[b-tnwvwncss6] {
    display: none;
}

#orderList[b-tnwvwncss6] {
    display: none;
}

#locationLists[b-tnwvwncss6] {
    display: none;
}

.mainBox[b-tnwvwncss6] {
    height: 100%;
    width: 100%;
    position: absolute;
}

.panelBox[b-tnwvwncss6] {
    position: relative;
    margin: 100px auto;
    width: 1000px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.651);
}

.menu-title[b-tnwvwncss6] {
    width: 100%;
    height: 60px;
}

#button-active[b-tnwvwncss6] {
    top: 0;
    height: 60px;
    transition-duration: .5s;
    border-right: 4px solid;
    background-color: rgb(212, 212, 212);
}

.menu-button[b-tnwvwncss6] {
    background-color: transparent;
    border: 1px solid rgba(187, 187, 187, 0.651);
    outline: none;
    direction: rtl;
}

    .menu-button i[b-tnwvwncss6] {
        font-size: 1.5rem;
    }

.button-active[b-tnwvwncss6] {
    width: 100%;
    height: 60px;
}

.form-label[b-tnwvwncss6] {
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

.input-field:focus[b-tnwvwncss6] {
    outline: 0;
    border: 1px solid #17a2b8;
    box-shadow: 0 0 2px 0.1rem #17a2b8;
}

#wishListPanel[b-tnwvwncss6] {
    height: 600px;
}

.whishList-items[b-tnwvwncss6] {
    width: 100%;
    height: 120px;
    border-top: 1px solid rgba(187, 187, 187, 0.651);
    border-bottom: 1px solid rgba(187, 187, 187, 0.651);
}

.p-Details[b-tnwvwncss6] {
    margin-bottom: 15px !important;
}

#orderList[b-tnwvwncss6] {
    height: 600px;
}

.orderItems[b-tnwvwncss6] {
    height: 220px;
    width: 100%;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    margin-top: 5px !important;
}

.orderItems[b-tnwvwncss6] {
    font-size: 1rem;
}

.product-details[b-tnwvwncss6] {
    color: rgb(121, 121, 121);
    font-size: .9rem !important;
}

.product-imgs[b-tnwvwncss6] {
    height: 100px;
    border: 1px solid rgb(121, 121, 121);
    border-right: 0;
    border-left: 0;
    margin: .03rem;
}

.product-imgs-items[b-tnwvwncss6] {
    width: 100px;
    height: 80px;
}

#locationLists[b-tnwvwncss6] {
    height: 600px;
}

.locationsList[b-tnwvwncss6] {
    font-size: .9rem;
    color: rgb(121, 121, 121);
    border-bottom: 1px solid rgba(187, 187, 187, 0.651);
}

.location-buttons[b-tnwvwncss6] {
    width: 100%;
}

.p-imgs[b-tnwvwncss6] {
    position: absolute;
    right: 0;
    height: 100%;
}

.orders-img[b-tnwvwncss6] {
    height: 100%;
    width: 100%;
}
/* /Shared/Admin/AdminLayout.razor.rz.scp.css */
@font-face {
    font-family: 'TanhaWeb';
    src: url("fonts/Tanha/Tanha-FD.ttf") format('truerype');
    src: url("fonts/Tanha/Tanha-FD.woff") format('woff');
    src: url("fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
    font-family: 'yekanWeb';
    src: url("fonts/Yekan/Yekan.ttf") format('truerype');
    src: url("fonts/Yekan/Yekan.woff") format('woff');
}

body[b-lmhcl419qw] {
    font-family: 'TanhaWeb';
    font-size: medium;
}
#main[b-lmhcl419qw] {
    margin-right: 20%;
    transition: .3s;
}
/* /Shared/Admin/AdminNavbar.razor.rz.scp.css */
#navbar[b-klri5ah9ag] {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: rgb(49, 49, 49);
    transition: .3s;
    text-align: center;
}

.B-Nav[b-klri5ah9ag] {
    color: white !important;
    text-decoration: none;
    outline: none;
}

.B-Nav:hover[b-klri5ah9ag] {
    color: rgb(49, 49, 49);
    background-color: white;
    text-decoration: none;
}

.btn:focus[b-klri5ah9ag] {
    box-shadow: none !important;
}

#img-profile[b-klri5ah9ag] {
    height: 160px;
    width: 160px;
}

.icon[b-klri5ah9ag] {
    font-size: x-large;
}


#openIcon[b-klri5ah9ag] {
    font-size: x-large;
    display: inline;
    visibility: hidden;
    transition: .3s;
    position: fixed;
}

    #openIcon:hover[b-klri5ah9ag] {
        cursor: pointer;
    }
/* /Shared/Footer.razor.rz.scp.css */
#instagram:hover[b-wyd0rhvhtp] {
    color: red;
}

#telegram:hover[b-wyd0rhvhtp] {
    color: rgb(0, 89, 255);
}

#facebook:hover[b-wyd0rhvhtp] {
    color: blue
}

#linkedin:hover[b-wyd0rhvhtp] {
    color: rgb(0, 180, 180);
}

.footer[b-wyd0rhvhtp] {
    min-height: 300px;
    background-color: #eee;
}

.footer-item[b-wyd0rhvhtp] {
    transition-duration: .3s;
    color: gray !important;
}

    .footer-item:hover[b-wyd0rhvhtp] {
        color: black !important;
    }

#off-email:focus[b-wyd0rhvhtp] {
    border-color: #e9ecef !important;
    box-shadow: 0 0 2px 0.1rem #17a2b8 !important;
}
