@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AdminNavbar />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#" target="_blank" class="btn btn-outline-danger">خروج</a>
        </div>

        <article class="content px-4 my-3">
            @Body
        </article>
    </main>
</div>



@code {

}
