@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="row mt-3">

    <h4 class="text-danger col">آیا برای حذف اطمینان دارید ؟</h4>

    <button class="btn btn-danger col-1 mx-2" @onclick="Delete">مطمئنم و حذف !</button>
</div>

@code {
    [Parameter]
    public string? userId { get; set; }
    public UserInfoViewModel? userInfoView { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userInfoView = new UserInfoViewModel();
        int id = int.Parse(userId);
        userInfoView = await httpClient.GetFromJsonAsync<UserInfoViewModel>($"User/Info/{id}");
    }

    private async Task Delete()
    {
        var res = await httpClient.PutAsJsonAsync("User/Delete", userInfoView);
        if(res!=null)
        {
            navigationManager.NavigateTo("/Admin-UserList");
        }
    }
}
