@page "/Admin-AdminList"
@inject HttpClient httpClient

@layout AdminLayout

<h3>لیست مدیران سایت</h3>

<AdminAddModal/>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th scope="col">نام</th>
            <th scope="col">نام خانوادگی</th>
            <th scope="col">نام کاربری</th>
            <th scope="col">وضعیت فعال/غیرفعال</th>
            <th scope="col">گزینه‌ها</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Admins)
        {
            <tr>
                <td>
                    @admin.FirstName
                </td>
                <td>
                    @admin.LastName
                </td>
                <td>
                    @admin.UserName
                </td>
                <td>
                    @if (admin.IsActive)
                    {
                        <span class="text-success">
                            مدیر فعال می‌باشد
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            مدیر غیرفعال است
                        </span>
                    }
                </td>
                <td>
                    <NavLink href="@admin.AdminInfoUrl">
                        <button class="btn btn-info">جزئیات</button>
                    </NavLink>
                </td>
            </tr>
        }
    </tbody>

</table>

@code {
    private List<AdminListViewModel>? Admins = new();

    protected override async Task OnInitializedAsync()
    {
        Admins = await httpClient.GetFromJsonAsync<List<AdminListViewModel>>("Admins/List");
        foreach (var item in Admins)
        {
            item.AdminInfoUrl = "/Admin-AdminInfo/" + item.AdminId;
        }
    }

}
