@page "/Admin-AdminList"
@inject HttpClient httpClient

@layout AdminLayout

<PageTitle>لیست مدیران سایت</PageTitle>
<h3>لیست مدیران سایت</h3>

<AdminAddModal/>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th scope="col" class="text-center">نام</th>
            <th scope="col" class="text-center">نام خانوادگی</th>
            <th scope="col" class="text-center">نام کاربری</th>
            <th scope="col" class="text-center">وضعیت فعال/غیرفعال</th>
            <th scope="col" class="text-center">گزینه‌ها</th>
        </tr>
    </thead>
    <tbody>
       @if(Admins != null)
        {
            @foreach (var admin in Admins)
            {
                <tr>
                    <td class="text-center">
                        @admin.FirstName
                    </td>
                    <td class="text-center">
                        @admin.LastName
                    </td>
                    <td class="text-center">
                        @admin.UserName
                    </td>
                    <td class="text-center">
                        @if (admin.IsActive)
                        {
                            <span class="text-success">
                                مدیر فعال می‌باشد
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                مدیر غیرفعال است
                            </span>
                        }
                    </td>
                    <td class="text-center">
                        <NavLink href="@admin.AdminInfoUrl">
                            <button class="btn btn-info">جزئیات</button>
                        </NavLink>
                    </td>
                </tr>
            }
        }else
        {
            <tr>
                <td colspan="5" class="text-danger">مدیری در سایت ثبت نشده است.</td>
            </tr>
        }
    </tbody>

</table>

@code {
    private List<AdminListViewModel>? Admins = new();

    protected override async Task OnInitializedAsync()
    {
        Admins = await httpClient.GetFromJsonAsync<List<AdminListViewModel>>("Admins/List");
        if(Admins!=null)
        {
            foreach (var item in Admins)
            {
                item.AdminInfoUrl = "/Admin-AdminInfo/" + item.AdminId;
            }
        }
    }

}
