@font-face {
	font-family: 'TanhaWeb';
	src: url("../fonts/Tanha/Tanha-FD.ttf") format('truerype');
	src: url("../fonts/Tanha/Tanha-FD.woff") format('woff');
	src: url("../fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
	font-family: 'yekanWeb';
	src: url("../fonts/Yekan/Yekan.ttf") format('truerype');
	src: url("../fonts/Yekan/Yekan.woff") format('woff');
}

body {
    font-family: 'TanhaWeb';
    font-size: medium;
}

* {
    margin: 0;
    padding: 0;
}

.main-box {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../Images/accountingBackground.jpg);
    background-position: center;
    background-size: cover;
}

.form-box {
    width: 380px;
    height: 550px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
    margin: 8% auto;
    padding: 0.3rem;
}

.btn-box {
    width: 220px;
    margin: 2.2rem auto;
    position: relative;
    border-radius: 1.8rem;
    font-size: 1rem;
    box-shadow: 5px 7px 7px rgba(187, 187, 187, 0.651);
}

.toggle-btn {
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#btn-active {
    left: 0;
    width: 110px;
    border-radius: 1.8rem;
    transition: .6s;
}

.social-icons {
    width: 150px;
}

#instagram:hover {
    color: red;
}

#telegram:hover {
    color: rgb(0, 89, 255);
}

#facebook:hover {
    color: blue
}

#linkedin:hover {
    color: rgb(0, 180, 180);
}

.input-group {
    width: 250px;
}

.input-field {
    border-bottom: 2px solid black !important;
}

.input-field:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

#login {
    display: block;
}

#register {
    display: none;
}