@page "/Admin-UserList"
@inject HttpClient httpClient

@layout AdminLayout

<PageTitle>لیست کاربران سایت</PageTitle>
<h3>لیست کاربران سایت</h3>

<UserAddModal/>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th scope="col" class="text-center">نام</th>
            <th scope="col" class="text-center">نام خانوادگی</th>
            <th scope="col" class="text-center">نام کاربری</th>
            <th scope="col" class="text-center">وضعیت فعال/غیرفعال</th>
            <th scope="col" class="text-center">گزینه‌ها</th>
        </tr>
    </thead>
    <tbody>
        @if(users != null)
        {
            @foreach (var user in users)
            {
                <tr>
                    <td class="text-center">
                        @user.FirstName
                    </td>
                    <td class="text-center">
                        @user.LastName
                    </td>
                    <td class="text-center">
                        @user.UserName
                    </td>
                    <td class="text-center">
                        @if (user.IsActive)
                        {
                            <span class="text-success">
                                کاربر فعال می‌باشد
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                کاربر غیرفعال است
                            </span>
                        }
                    </td>
                    <td class="text-center">
                        <NavLink href="@user.InfoUrl">
                            <button class="btn btn-info">جزئیات</button>
                        </NavLink>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-danger">
                    هیچ کاربری در سایت یافت نشد.
                </td>
            </tr>
        }
    </tbody>

</table>

@code {

    private List<UserListViewModel>? users = new();
}
@functions{
    protected override async Task OnInitializedAsync()
    {
        users = await httpClient.GetFromJsonAsync<List<UserListViewModel>>("User/List");
        if (users != null)
        {
            foreach (var item in users)
            {
                item.InfoUrl = "/Admin-UserInfo/" + item.UserId;
            }
        }
    }
}
