@page "/"

<PageTitle>صفحه اصلی سایت</PageTitle>

<Slider/>
<CategoriesIcons/>

<div class="container">
    <div class="mt-2 mb-5">
        <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
            <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                <span class="fw-bold">جدیدترین محصولات</span>
            </NavLink>
        </div>
    </div>
    <div class="row m-auto p-0 justify-content-around">
        <GetLastProduct/>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->

    <div class="off-section">
        <div class="row my-3">
            <NavLink href="#" class="col-12 col-lg-6 text-center text-black text-decoration-none p-0">
                <div class="off-items border border-4 m-3 bg-white">
                    <img src="Images/Static-Image/PictureOff-1.jpg" alt="تخفیف ویژه" class="off-img" title="تخفیف ویژه">
                </div>
            </NavLink>
            <NavLink href="#" class="col-12 col-lg-6 text-center text-black text-decoration-none p-0">
                <div class="off-items border border-4 m-3 bg-white">
                    <img src="Images/Static-Image/PictureOff-2.jpg" alt="تخفیف خرید کتاب" class="off-img" title="تخفیف حرید کتاب">
                </div>
            </NavLink>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->

    <div class="mt-5 mb-5">
        <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
            <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                <span class="fw-bold">محصولات پرفروش</span>
            </NavLink>
        </div>
    </div>
    <div class="row m-auto p-0 justify-content-around">
        <GetLastProduct/>
    </div>
</div>

<div>
    <Footer />
</div>
