#wishListPanel {
    display: none;
}

#orderList {
    display: none;
}

#locationLists {
    display: none;
}

.mainBox {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x:hidden !important;
}

.panelBox {
    position: relative;
    margin: 100px auto;
    width: 1000px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.651);
}

.menu-title {
    width: 100%;
    height: 60px;
}

#button-active {
    top: 0;
    height: 60px;
    transition-duration: .5s;
    border-right: 4px solid;
    background-color: rgb(212, 212, 212);
}

.menu-button {
    background-color: transparent;
    border: 1px solid rgba(187, 187, 187, 0.651);
    outline: none;
    direction: rtl;
}

    .menu-button i {
        font-size: 1.5rem;
    }

.button-active {
    width: 100%;
    height: 60px;
}

.form-label {
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

.input-field:focus {
    outline: 0;
    border: 1px solid #17a2b8;
    box-shadow: 0 0 2px 0.1rem #17a2b8;
}

#wishListPanel {
    height: 600px !important;
    overflow-y:scroll;
}

.whishList-items {
    width: 100%;
    height: 150px;
    border-top: 1px solid rgba(187, 187, 187, 0.651);
    border-bottom: 1px solid rgba(187, 187, 187, 0.651);
}

.p-Details {
    margin-bottom: 15px !important;
}

#orderList {
    height: 600px !important;
    overflow-y: scroll;
}

.orderItems {
    height: 220px;
    width: 100%;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    margin-top: 5px !important;
}

.orderItems {
    font-size: 1rem;
}

.product-details {
    color: rgb(121, 121, 121);
    font-size: .9rem !important;
}

.product-imgs {
    height: 130px;
    border: 1px solid rgb(121, 121, 121);
    border-right: 0;
    border-left: 0;
    margin: .03rem;
}

.product-imgs-items {
    width: 100px;
    height: 120px;
}

#locationLists {
    height: 600px !important;
    overflow-y: scroll;
}

.locationsList {
    font-size: .9rem;
    color: rgb(121, 121, 121);
    border-bottom: 1px solid rgba(187, 187, 187, 0.651);
}

.location-buttons {
    width: 100%;
}

.p-imgs {
    position: absolute;
    right: 0;
    height: 100%;
}

.orders-img {
    height: 100%;
    width: 100%;
}
