@font-face {
    font-family: 'TanhaWeb';
    src: url("../fonts/Tanha/Tanha-FD.ttf") format('truerype');
    src: url("../fonts/Tanha/Tanha-FD.woff") format('woff');
    src: url("../fonts/Tanha/Tanha-FD.woff2") format('woff2');
}

@font-face {
    font-family: 'yekanWeb';
    src: url("../fonts/Yekan/Yekan.ttf") format('truerype');
    src: url("../fonts/Yekan/Yekan.woff") format('woff');
}

body[b-byobmldf31] {
    font-family: 'TanhaWeb';
    font-size: medium;
}

*[b-byobmldf31] {
    margin: 0;
    padding: 0;
}

.main-box[b-byobmldf31] {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(Images/Static-Image/accountingBackground.jpg);
    background-position: center;
    background-size: cover;
}

.form-box[b-byobmldf31] {
    width: 380px;
    height: 400px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
    margin: 10% auto;
    padding: 0.3rem;
}

.btn-box[b-byobmldf31] {
    width: 220px;
    margin: 2.2rem auto;
    position: relative;
    border-radius: 1.8rem;
    font-size: 1rem;
    box-shadow: 5px 7px 7px rgba(187, 187, 187, 0.651);
}

.toggle-btn[b-byobmldf31] {
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#btn-active[b-byobmldf31] {
    width: 110px;
    border-radius: 1.8rem;
    transition: .6s;
}

.social-icons[b-byobmldf31] {
    width: 150px;
}

#instagram:hover[b-byobmldf31] {
    color: red;
}

#telegram:hover[b-byobmldf31] {
    color: rgb(0, 89, 255);
}

#facebook:hover[b-byobmldf31] {
    color: blue
}

#linkedin:hover[b-byobmldf31] {
    color: rgb(0, 180, 180);
}

.input-group[b-byobmldf31] {
    width: 250px;
}

.input-field[b-byobmldf31] {
    border-bottom: 2px solid black !important;
}

    .input-field:focus[b-byobmldf31] {
        outline: 0 !important;
        box-shadow: none !important;
    }
