<section class="container categories">
    <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
        <span href="#" class="text-black text-decoration-none">
            <span class="fw-bold">دسته‌بندی‌ کالاها</span>
        </span>
    </div>
    <div class="categories-list my-5">
        <div class="row text-center categories-row">
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="m-auto text-black text-decoration-none">
                    <i class="fa fa-laptop fa-2x"></i>
                    <p class="my-3">کالای دیجیتال</p>
                </NavLink>
            </div>
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-mobile fa-2x"></i>
                    <p class="my-3">موبایل</p>
                </NavLink>
            </div>
            <hr class="d-sm-none d-block">
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-shirt fa-2x"></i>
                    <p class="my-3">پوشاک</p>
                </NavLink>
            </div>
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-book fa-2x"></i>
                    <p class="my-3">کتاب</p>
                </NavLink>
            </div>
            <hr class="d-sm-none d-block">
            <hr class="d-none d-sm-block">
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-ring fa-2x"></i>
                    <p class="my-3">اکسسوری</p>
                </NavLink>
            </div>
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-gamepad fa-2x"></i>
                    <p class="my-3">کنسول</p>
                </NavLink>
            </div>
            <hr class="d-sm-none d-block">
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa-solid fa-wand-magic-sparkles fa-2x"></i>
                    <p class="my-3">زیبایی و سلامت</p>
                </NavLink>
            </div>
            <div class="col-6 col-sm-3 categories-items">
                <NavLink href="/CategoriesItem" class="text-black text-decoration-none">
                    <i class="fa fa-house fa-2x"></i>
                    <p class="my-3">لوازم خانگی</p>
                </NavLink>>
            </div>
            <hr class="d-sm-none d-block">
        </div>
    </div>
</section>

@code {

}
