<footer class="footer">
    <div class="container mt-5">
        <div class="m-auto row">
            <div class="col-12 col-md-6 col-lg-3 h-100 mt-5">
                <NavLink href="#" class="text-dark text-decoration-none fw-bolder d-block mb-3">سایت فروشگاه من</NavLink>
                <ul>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">درباره ما</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">تماس با ما</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">ثبت نام فروشنده</NavLink>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 h-100 mt-5">
                <NavLink href="#" class="text-dark text-decoration-none fw-bolder d-block mb-3">خدمات مشتریان</NavLink>
                <ul>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">نحوه ثبت سفارش</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">شیوه های پرداخت</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">آموزش ثبت نام به عنوان فروشنده</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">پاسخ به سوالات</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">تخفیف های امروز</NavLink>
                    </li>
                    <li class="text-black-50 footer-item my-1">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">تبلیغات</NavLink>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-5 mt-5">
                <p class="fw-bolder d-block mb-3">ما را در فضای مجازی دنبال کنید :</p>
                <div class="row my-4">
                    <div class="col-3 text-center">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">
                            <i id="instagram" class="fa fa-2x fa-instagram"></i>
                        </NavLink>
                    </div>
                    <div class="col-3 text-center">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">
                            <i id="telegram" class="fa fa-2x fa-telegram"></i>
                        </NavLink>
                    </div>
                    <div class="col-3 text-center">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">
                            <i id="facebook" class="fa fa-2x fa-facebook"></i>
                        </NavLink>
                    </div>
                    <div class="col-3 text-center">
                        <NavLink href="#" class="footer-item text-dark text-decoration-none">
                            <i id="linkedin" class="fa fa-2x fa-linkedin"></i>
                        </NavLink>
                    </div>
                </div>
                <p class="fw-bolder d-block my-3">با ثبت ایمیل از جدیدترین تخفیفات با خبر شوید :</p>
                <form action="#" method="post" class="form-inline">
                    <input type="email" name="off-email" id="off-email" class="w-50 form-control"
                           placeholder="ایمیل خود را وارد کنید ....">
                    <button type="submit" class="btn btn-success w-25 mx-2">
                        ثبت
                    </button>
                </form>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</footer>

@code {

}
