    <!-- Slider-Side -->
<div class="container row slider mx-auto mt-2 p-0">
    <div class="d-none d-lg-block col-6 col-lg-4 h-100 row m-0 p-0">
        <div class="h-50 m-0 p-0">
            <img src="Images/Slider-Images/sliedr-top.jpg" alt="Clothes Online Shop" class="sliderSideImg" title="خرید پوشاک">
        </div>
        <div class="h-50 m-0 p-0">
            <img src="Images/Slider-Images/slider-down.jpg" alt="Book Online Shop" class="sliderSideImg" title="خرید کتاب">
            <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                <h5><span class="text-success fw-bold">کتاب</span> بخون !</h5>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!-- Slider For Lg Size -->
    <div class="d-none d-lg-block col-12 col-lg-8 h-100 m-0 p-0">
        <div id="slider-lg" class="carousel carousel-fade slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#slider-lg" data-slide-to="0" class="active"></li>
                <li data-target="#slider-lg" data-slide-to="1"></li>
                <li data-target="#slider-lg" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="Images/Slider-Images/Slider1.jpg" alt="mobile Online Shop" class="sliderSideImg" title="خرید تلفن همراه">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5>خرید گوشی با <span class="text-danger fw-bold">بهترین</span> قیمت</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/slider2.webp" alt="laptop Online Shop" class="sliderSideImg" title="خرید لپتاپ">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5>لپتاپ های <span class="text-success fw-bold">متنوع</span></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/sider3.jpg" alt="Game Online Shop" class="sliderSideImg" title="خرید کنسول بازی">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5><span class="text-danger fw-bold">جدیدترین</span> کنسول های بازی</h5>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <NavLink class="carousel-control-prev" href="#slider-lg" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </NavLink>
            <NavLink class="carousel-control-next" href="#slider-lg" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </NavLink>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!-- Slider For small Size -->
    <div class="d-block d-lg-none col-12 col-lg-8 h-100 m-0 p-0">
        <div id="slider1" class="carousel carousel-fade slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#slider1" data-slide-to="0" class="active"></li>
                <li data-target="#slider1" data-slide-to="1"></li>
                <li data-target="#slider1" data-slide-to="2"></li>
                <li data-target="#slider1" data-slide-to="3"></li>
                <li data-target="#slider1" data-slide-to="4"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="Images/Slider-Images/Slider1.jpg" alt="mobile Online Shop" class="sliderSideImg" title="خرید تلفن همراه">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5>خرید گوشی با <span class="text-danger fw-bold">بهترین</span> قیمت</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/slider2.webp" alt="laptop Online Shop" class="sliderSideImg" title="خرید لپتاپ">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5>لپتاپ های <span class="text-success fw-bold">متنوع</span></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/sider3.jpg" alt="Game Online Shop" class="sliderSideImg" title="خرید کنسول بازی">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5><span class="text-danger fw-bold">جدیدترین</span> کنسول های بازی</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/sliedr-top.jpg" alt="Clothes Online Shop" class="sliderSideImg" title="خرید پوشاک">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5><span class="text-primary fw-bold">شیک</span> انتخاب کن</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Images/Slider-Images/slider-down.jpg" alt="Book Online Shop" class="sliderSideImg" title="خرید کتاب">
                    <div class="carousel-caption bg-black bg-opacity-50 rounded rounded-5 z-1">
                        <h5><span class="text-success fw-bold">کتاب</span> بخون !</h5>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#slider1" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slider1" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
@code {

}
